[Desktop Entry]
Encoding=UTF-8
Name=MonedaDelEmprendimiento
Comment=MonedaDelEmprendimiento
Exec=/usr/bin/MonedaDelEmprendimiento-qt %u
Terminal=false
Type=Application
Icon=MonedaDelEmprendimiento
MimeType=x-scheme-handler/MonedaDelEmprendimiento;
Categories=Office;
